body{
    background-size: cover;
    background-position: center;
}

.heading{
    font-size: 35px;
    width: 100%;
    margin: 0px;
    color: yellow;
}

a{
    font-size: 20px !important;
    width: 400px;
    border-radius: 30px !important;
    background-color: yellow;
    color: violet;
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}